.App {
    display: grid;
    grid-auto-rows: 1fr auto 1fr;
    flex-direction: column;
    min-height: 100vh;
    align-content: space-between;
}
#element::-webkit-scrollbar {
  width: 10px;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

.main {
  height: auto;
  min-height: 90vh;
}
.header {
  height: auto;
  max-height: 5vh;
}
.footer {
  height: auto;
  max-height: 5vh;
}
