.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

.contact {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.contact h3 {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

.contact p {
  margin: 5px 0;
}

.contact p:last-child {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}
